<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/themify-icons.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>

</head>
<body>
	<!-- Prélude à la page -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Section d'en-tête -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<!-- <img src="img/logo.png" alt=""> -->
                <p style="font-weight: bolder; font-size: 20px;">YAVE TECHNOLOGY</p>
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
		</div>
	</header>
	<!-- Fin section d'entete -->


	<!-- Section d'information sur la page -->
	<section class="page-info-section" style="background-image: url(../static/img/page-info-bg_ab.png);">
		<div class="container">
			<h2>A Propos de Nous</h2>
			<div class="site-beradcamb">
				<a href="index.html">Accueil</a>
				<span><i class="fa fa-angle-right"></i> A Propos de Nous</span>
			</div>
		</div>
	</section>
	<!-- Fin -->


	<!-- Section A propos-->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-6 about-text">
					<h2>Qu'est-ce que le bitcoin</h2>
					<h5>Bitcoin est un réseau de paiement innovant et un nouveau type de monnaie.</h5>
					<p>Le bitcoin est l'une des inventions les plus importantes de toute l'histoire de l'humanité. Pour la toute première fois, n'importe qui peut envoyer ou recevoir n'importe quelle somme d'argent avec n'importe qui d'autre, n'importe où sur la planète, facilement et sans restriction. C'est l'aube d'un monde meilleur et plus libre.</p>
					<a href="" class="site-btn sb-gradients sbg-line mt-5">Commencer</a>
				</div>
			</div>
			<div class="about-img">
				<img src="../static/img/about-img.png" alt="">
			</div>
		</div>
	</section>
	<!-- Fin section a propos -->

	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-7 newsletter-text">
					<h2>Abonnez-vous à notre newsletter</h2>
					<p>Inscrivez-vous pour nos mises à jour hebdomadaires de l'industrie, nos perspectives d'initiés et nos analyses de marché approfondies.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<form action="{{url_for('about_news')}}" method="POST" class="newsletter-form">
						<input type="text" placeholder="Enter your email" name="EMAIL">
						<button>Commencer</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
