<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/themify-icons.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>

</head>
<body>
	<!-- Prélude à la page -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Section d'en-tête -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<!-- <img src="img/logo.png" alt=""> -->
                <p style="font-weight: bolder; font-size: 20px;">YAVE TECHNOLOGY</p>
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
		</div>
	</header>
	<!-- Fin section d'entete -->


	<!-- Section d'information sur la page -->
	<section class="page-info-section" style="background-image: url(../static/img/page-info-bg_ab.png);">
		<div class="container">
			<h2>A Propos de Nous</h2>
			<div class="site-beradcamb">
				<a href="index.html">Accueil</a>
				<span><i class="fa fa-angle-right"></i> A Propos de Nous</span>
			</div>
		</div>
	</section>
	<!-- Fin -->


	<!-- Section A propos-->
	<section class="about-section spad">
		<div class="container">
			<!-- <div class="row"> -->
				<!-- <div class="col-lg-6 offset-lg-6 about-text"> -->
					<h2>YAVE TECHNOLOGY</h2>
					<h5>Bienvenue chez YAVE TECHNOLOGY : Votre Porte d'Accès à l'Innovation Technologique</h5>
	
	
					<p>Construire un Avenir Numérique Brillant</p>
	
					<p>Chez YAVE TECHNOLOGY, nous croyons en la puissance de la technologie pour transformer le monde. Notre
						entreprise est un guichet unique pour des solutions technologiques de pointe, couvrant un large
						éventail de domaines tels que l'intelligence artificielle, la blockchain, la cybersécurité,
						l'ingénierie logicielle et bien plus encore. Forts d'une équipe d'experts passionnés et compétents,
						nous nous engageons à fournir des services d'excellence pour répondre aux défis les plus complexes
						de l'ère numérique.</p>
	
					<h3>Nos Services de Pointe</h3>
	
					<p>-Intelligence Artificielle (IA) : Nous maîtrisons l'IA pour créer des solutions intelligentes qui
						optimisent les processus métier, prévoient les tendances du marché et ouvrent de nouvelles
						perspectives pour les entreprises de toutes tailles. Nos services en IA vous permettront de prendre
						des décisions éclairées et de maximiser votre efficacité opérationnelle.</p>
	
					<p>-Blockchain : Plongez dans le monde décentralisé et sécurisé de la blockchain avec YAVE TECHNOLOGY.
						Nous développons des applications blockchain robustes pour accélérer les transactions, renforcer la
						transparence et garantir l'authenticité des données.</p>
	
					<p>-Cybersécurité : Protégez votre entreprise des menaces en constante évolution du cyberespace avec nos
						services de cybersécurité de pointe. Nous analysons les vulnérabilités, mettons en œuvre des
						stratégies de prévention et assurons une protection optimale de vos actifs numériques.</p>
	
					<p>-Ingénierie Logicielle : Notre expertise en ingénierie logicielle vous permet de transformer vos
						idées en réalité. Nous concevons et développons des logiciels personnalisés, des applications web et
						mobiles intuitives, garantissant une expérience utilisateur exceptionnelle.</p>
	
					<h3>Notre Engagement envers l'Éducation Technologique</h3>
	
					<p>En tant qu'université technologique, nous croyons que l'éducation est le socle du progrès. Notre
						mission est de former la prochaine génération de leaders technologiques en proposant des programmes
						d'apprentissage de pointe. Grâce à notre corps professoral hautement qualifié et à des installations
						de pointe, nous offrons un environnement propice à l'exploration et à la découverte de la
						technologie.
	
						L'Innovation et la Durabilité au Cœur de Tout
	
						Chez YAVE TECHNOLOGY, l'innovation est inscrite dans notre ADN. Nous nous engageons à repousser les
						limites de la technologie et à proposer des solutions créatives pour répondre aux besoins changeants
						du monde moderne. Tout en faisant avancer la technologie, nous sommes également déterminés à adopter
						des pratiques durables pour préserver notre planète pour les générations futures.</p>
	
					<h3>Rejoignez-Nous dans la Quête de l'Excellence Technologique</h3>
	
					<p>Que vous soyez une entreprise cherchant à optimiser ses opérations, un étudiant passionné par la
						technologie ou un individu désireux d'apprendre et de s'épanouir dans le monde numérique, YAVE
						TECHNOLOGY est là pour vous. Découvrez notre gamme de services et d'opportunités éducatives sur
						notre site web et engagez-vous avec nous pour façonner un avenir numérique brillant.</p>
	
					<h3>YAVE TECHNOLOGY - L'Évolution Technologique pour un Futur Plus Intelligent.</h3>
					</p>
					<a href="" class="site-btn sb-gradients sbg-line mt-5">Commencer</a>
				<!-- </div> -->
				<!-- </div>
				<div class="about-img">
					<img src="../static/img/about-img.png" alt="">
				</div> -->
			<!-- </div> -->
	</section>
	<!-- Fin section a propos -->

	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-7 newsletter-text">
					<h2>Abonnez-vous à notre newsletter</h2>
					<p>Inscrivez-vous pour nos mises à jour hebdomadaires de l'industrie, nos perspectives d'initiés et nos analyses de marché approfondies.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<form action="{{url_for('about_news')}}" method="POST" class="newsletter-form">
						<input type="text" placeholder="Enter your email" name="EMAIL">
						<button>Commencer</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
