<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/themify-icons.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>

</head>
<body>
	<!-- Prélude à la page -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Section d'en-tête -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<!-- <img src="img/logo.png" alt=""> -->
                <p style="font-weight: bolder; font-size: 20px;">YAVE TECHNOLOGY</p>
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
		</div>
	</header>
	<!--Fin -->


	<!--Section d'information sur la page -->
	<section class="page-info-section" style="background-image: url(../static/img/page-info-bg.png);">
		<div class="container">
			<h2>Crypto-monnaie</h2>
			<div class="site-beradcamb">
				<a href="index.html">Accueil</a>
				<span><i class="fa fa-angle-right"></i> Crypto-monnaie</span>
			</div>
		</div>
	</section>
	<!-- Fin -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
